USE [master]
GO
/****** Object:  Database [novadb]    Script Date: 14/6/2020 5:57:45 p. m. ******/
CREATE DATABASE [novadb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'novadb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\novadb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'novadb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\novadb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [novadb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [novadb]
GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[ID_DIRECCION] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [numeric](18, 0) NOT NULL,
	[CALLE] [varchar](50) NOT NULL,
	[NUMERO] [numeric](10, 0) NOT NULL,
	[PISO] [numeric](3, 0) NULL,
	[DEPARTAMENTO] [varchar](10) NULL,
	[CP] [varchar](8) NOT NULL,
	[PROVINCIA] [varchar](50) NOT NULL,
	[LOCALIDAD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIRECCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ID_ESTADO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID_MARCA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MARCAS] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_CAB]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_CAB](
	[ID_PEDIDO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [numeric](18, 0) NOT NULL,
	[ID_DIRECCION] [numeric](18, 0) NOT NULL,
	[FECHA] [date] NOT NULL,
	[IMPORTE_TOTAL] [numeric](18, 2) NOT NULL,
	[ID_ESTADO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PEDIDOS_CAB] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_DET]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_DET](
	[ID_PEDIDO] [numeric](18, 0) NOT NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
	[CANTIDAD] [numeric](18, 0) NOT NULL,
	[IMPORTE_UNITARIO] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_PEDIDOS_DET] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TIPO] [numeric](18, 0) NOT NULL,
	[ID_MARCA] [numeric](18, 0) NOT NULL,
	[MODELO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[STOCK] [numeric](18, 0) NOT NULL,
	[PRECIO] [numeric](18, 2) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[CANT_VISITAS] [numeric](18, 0) NOT NULL,
	[FOTO1] [varchar](50) NULL,
	[FOTO2] [varchar](50) NULL,
	[FOTO3] [varchar](50) NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS](
	[ID_USUARIO] [numeric](18, 0) NOT NULL,
	[TELEFONO] [numeric](13, 0) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_TELEFONOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PRODUCTO]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PRODUCTO](
	[ID_TIPO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 14/6/2020 5:57:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
	[DNI] [numeric](11, 0) NOT NULL,
	[CLAVE] [varchar](8) NOT NULL,
	[ADMINISTRADOR] [varchar](1) NOT NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[SEXO] [varchar](1) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_PRODUCTOS_CANT_VISITAS]  DEFAULT ((0)) FOR [CANT_VISITAS]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_ADMINISTRADOR]  DEFAULT ('N') FOR [ADMINISTRADOR]
GO
ALTER TABLE [dbo].[DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCIONES_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[DIRECCIONES] CHECK CONSTRAINT [FK_DIRECCIONES_USUARIOS]
GO
ALTER TABLE [dbo].[PEDIDOS_CAB]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CAB_DIRECCIONES] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCIONES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[PEDIDOS_CAB] CHECK CONSTRAINT [FK_PEDIDOS_CAB_DIRECCIONES]
GO
ALTER TABLE [dbo].[PEDIDOS_CAB]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CAB_ESTADOS] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[PEDIDOS_CAB] CHECK CONSTRAINT [FK_PEDIDOS_CAB_ESTADOS]
GO
ALTER TABLE [dbo].[PEDIDOS_CAB]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CAB_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PEDIDOS_CAB] CHECK CONSTRAINT [FK_PEDIDOS_CAB_USUARIOS]
GO
ALTER TABLE [dbo].[PEDIDOS_DET]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_DET_PEDIDOS_CAB] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS_CAB] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDOS_DET] CHECK CONSTRAINT [FK_PEDIDOS_DET_PEDIDOS_CAB]
GO
ALTER TABLE [dbo].[PEDIDOS_DET]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_DET_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PEDIDOS_DET] CHECK CONSTRAINT [FK_PEDIDOS_DET_PRODUCTOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_MARCAS] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCAS] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_MARCAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_TIPO_PRODUCTO] FOREIGN KEY([ID_TIPO])
REFERENCES [dbo].[TIPO_PRODUCTO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_TIPO_PRODUCTO]
GO
ALTER TABLE [dbo].[TELEFONOS]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONOS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TELEFONOS] CHECK CONSTRAINT [FK_TELEFONOS_USUARIOS]
GO
USE [master]
GO
